.narrowscreen{
    height: 3558px;
    width: 980px;

    position: absolute;
    left:170px;
}
.warp{
    position: absolute;
    height: 194px;
    width: 980px;
    left:50px;
}
.s-linemore{
    height: 27px;
    width: 980px;
    position: absolute;
    left: -50px;
    top:0px;

}
.s-iconText-icon{
    width:30px;
    height: 30px;
    /*border: 1px solid red;*/
    display: inline-block;
    background: url("../images/sprite-ddfafd5b90.png") -383px -130px no-repeat;
    position: absolute;
    top:0px;
    left: -2px;
}
.s-iconText-text{
    position: relative;
    font-size: 20px;
    left: 28px;
    top:-11px;
}
.title{
    width: 130px;
    height: 28px;
    position: absolute;
    top:-21px;
}
.s-lineMore-more {
    position: relative;
    padding: 0 10px;
    line-height: 22px;
    font-size: 12px;
    float: right;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    margin-top: -6px;
    top:8px;
    left: 849px;
    color: rgb(34,34,34);
    text-decoration: none;
}
.lft-con{
    height: 180px;
    margin-right: -20px;
    /*background-color: whitesmoke;*/
    position: relative;
    left: -50px;
    top:30px;
}
.bhot-lft-con {
    position: relative;
    margin-right: 0px;
}
.hot-con{

}
.bhot-lft-con .hot-con {
    width: 100%;
    height: 148px;


    position: relative;
    top: 0px;
    left: 0px;
}
.clearfixg7{
    width: 980px;
    height: 160px;
    float: left;
    /*background-color: black;*/
    /*overflow: hidden;*/
}
.s-imgUnit{
    height: 200px;
    width: 195px;
    float: left;
    /*border: 1px solid red;*/
}
.s-imgUnit-text{
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    font-size: 12px;
}
.s-imgUnit-img {
    display: block;
    border-radius: 4px;
    width: 100%;
    height: 100px;
    position: relative;

}
.img {
    background: url(../images/木鱼.jpg) 50% 50% no-repeat #e5e9ef;
}
.s-imgUnit .s-imgUnit-img {
    display: block;
    border-radius: 4px;
    width: 196px;
    height: 128px;
    position: relative;

}
.s-imgUnit-text a {
    display: block;
    -webkit-transition: height, 0.2s;
    transition: height, 0.2s;

}
 .s-imgUnit .s-imgUnit-text {
    position: relative;
    display: block;
    width:195px;
    height: 35px;
    font-size: 12px;
     /*border: 1px solid red;*/
}
 .s-imgUnit-text p{
     text-align: center;
 }

